/* Add Global styles here */

.text {
    margin: 20px;
    font-size: 20px;
}

button {
    margin: 10px 0px;
    font-size: 20px;
}

#guess {
    font-size: 20px;
}

#container {
    text-align: center;
    max-width: 600px;
    margin: 120px auto;
    padding: 30px;
    border-radius: 40px;
    background-color: white;
}

html {
    background-color: rgb(238, 238, 238);
}

#drawing {
    min-height: 100px;
    font-family: monospace;
    white-space: pre;
    line-height: 0.3;
    font-size: 35px;
    margin-left: 10px;
    letter-spacing: -8px;
}

#drawing p {
    margin: 0;
    padding: 0;
}

/* Used AI for the gallows drawing styling: https://gemini.google.com/share/0ef1698c852a */
#gallows {
    width: 110px;
    height: 150px;
    margin: 20px auto;
    border-left: 8px solid black;
    border-top: 8px solid black;
    padding-top: 30px;
    position: relative;
}

#gallows::after {
    content: "";
    position: absolute;
    top: 0;
    right: 45px;
    width: 2px;
    height: 40px;
    background: black;
}